{{ name }}
<hello *ngIf="user.age >= 18; else under18" name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<!-- {{expression}} -->
<!-- String Interpolation -->
<p>{{ user.name }}</p>
<p>{{ user.age }}</p>

<input type="text" [value]="user.age" />
<!-- // HTMLInputElement{ type:'text', value: 'vass' } -->

<!-- Envent Binding -->
<button type="button" (click)="handler($event)">Click me</button>
<br />
<!-- Tow-way Binding -->
<input type="text" [(ngModel)]="name" />

<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
<br />
<button (click)="user.age = user.age + 1">+</button>
<button (click)="user.age = user.age - 1">-</button>

<ng-template #under18>
  <div>You are too</div>
</ng-template>
